.bottom_contact_mob .bottom_con .in_wrap li .r_input:-webkit-autofill,
.bottom_contact_mob .bottom_con .in_wrap li .r_input:-webkit-autofill:hover,
.bottom_contact_mob .bottom_con .in_wrap li .r_input:-webkit-autofill:focus,
.bottom_contact_mob .bottom_con .in_wrap li .r_input:-webkit-autofill:active {
	-webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #3a393a inset;
    box-shadow: 0 0 0px 1000px #3a393a inset;
    transition: background-color 5000s ease-in-out 0s;
}

.bottom_contact_mob .bottom_con .in_wrap li .r_input:autofill,
.bottom_contact_mob .bottom_con .in_wrap li .r_input:autofill:hover,
.bottom_contact_mob .bottom_con .in_wrap li .r_input:autofill:focus,
.bottom_contact_mob .bottom_con .in_wrap li .r_input:autofill:active {
	-webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #3a393a inset;
    box-shadow: 0 0 0px 1000px #3a393a inset;
    transition: background-color 5000s ease-in-out 0s;
}


/* ==== mob ==== */
@media screen and (max-width:767px){
    
    .inner {width:100%; padding:0 3%;}
    .pc {display:none !important;}
    .tab {display:none}
    .mob {display:block !important;}
    .pc_img {display:none;}
    .mob_img {display:block;}
    
    
    
    /* === Member === */
    .member_guide_wrap label {font-size:12px; margin-left:10px;}
    .member_guide_wrap > p {font-size:12px; line-height: 20px;}
    h3.member_guide_tit{font-size:13px;}
    h4.member_guide_tit{font-size:13px;}
    .guide_type1 > li{font-size:12px;}
    .guide_type2 > li{ font-size:12px; }
    
    
    /* === Main === */
    #wrap {position:relative; width:100%; max-width:767px; margin:0 auto; overflow:hidden;}
    #header {position:fixed; top:0; left:0; width:100%; height:60px; z-index: 10;}
    #header h1 {position:absolute; top:18px; left:3%; z-index: 10; font-size: 30px; line-height:1;}
    #header h1 img {width: 135px;}
    .gnb {display:none;}
    
    .fp-section.fp-table, .fp-slide.fp-table, .fp-tableCell {display:block !important; height:auto !important;}
    
    /* === Navigation === */
    .navi {position: fixed; top:0; left:0; width: 100%; height:100%; background:rgba(0,0,0,.3); z-index:999; display:none;}
    .navi .lnb {float: right; width:70%; height:100%; background:#fff; display:block; position:relative;  padding-top:80px;}
    .navi .lnb h3 {font-size: 16px; height:50px; line-height: 50px; margin:0 20px; background: url(../images/main/lnb_plus.png) no-repeat right center; background-size:14px 14px;}
    .navi .lnb h3 > a {color: #111; display:block; width:100%; height:100%;}
    .navi .lnb h3.on a {color: #a38a6d;}
    .navi .lnb .sub_navi {padding:20px 0 20px; display:none; padding-left: 25px; border-bottom:1px solid #ddd;}
    .navi .lnb .sub_navi li {font-size:14px; margin-bottom:8px; position:relative;}
    .navi .lnb .sub_navi li:last-child {margin-bottom: 0;}
    .navi .lnb .sub_navi li a {display:block; width:100%; height:100%; color: #111; font-weight:400;}
    
    .navi_btn {display:block; position:fixed; top:19px; right:3%; width:26px; height:18px; cursor:pointer; transition:0.3s ease-in-out; z-index:9999;}
    .navi_btn span {position:absolute; left:0; display:block; width:26px; height:2px; background:#a38a6d;  transition:0.3s ease-in-out 0.2s;}
    .navi_btn span.line01 {top:0;}
    .navi_btn span.line02 {top:9px;}
    .navi_btn span.line03 {top:18px;}
    .navi_btn.on {transform:rotate(-45deg); transition:0.3s ease-in-out 0.2s;}
    .navi_btn.on span {top:50%; margin-top:-2px; transition:0.3s ease-in-out;}
    
    .bottom_contact {display:none;}
    
    .bottom_contact_mob {bottom:-315px; height:395px;}
    .bottom_contact_mob .top_thumb {padding: 0 3%;}
    .bottom_contact_mob .top_thumb .title {height: 40px; line-height:1; margin-top: 25px;}
    .bottom_contact_mob .top_thumb .title span {display:block;}
    .bottom_contact_mob .top_thumb .title .tit {font-size:15px; margin-right:0; font-weight: bold;}
    .bottom_contact_mob .top_thumb .title .tel {font-size:16px; font-weight: bold; margin-top:4px;width:60%;}
    
    .bottom_contact_mob .top_thumb .title .click_img {position:absolute; right:0; top:13px; width:32px; z-index:10;}
    
    .bottom_contact_mob .top_thumb .btn {width:90px; right:3%; font-size: 14px;}
    .bottom_contact_mob .top_thumb .btn a {display:block; width:100%; height: 100%;margin-top:-3px;font-size:12px;}
    
    
    .bottom_contact_mob .bottom_con {height:315px;}
    .bottom_contact_mob .bottom_con .in_wrap {padding:15px 0 10px;}
    .bottom_contact_mob .bottom_con .in_wrap li {float:left; width:100%; position:relative; height:35px; line-height:35px; overflow:hidden; margin-top: 10px;}
    .bottom_contact_mob .bottom_con .in_wrap li:first-child {margin-right:0; margin-top: 0;}
    .bottom_contact_mob .bottom_con .in_wrap li:last-child {width:100%; margin-top:10px;}
    .bottom_contact_mob .bottom_con .in_wrap li::after {content:''; width:100%; height:1px; background:rgba(255,255,255,0.5); position:absolute; left:0; bottom:0;}
    .bottom_contact_mob .bottom_con .in_wrap li span {float:left; display:block; font-size: 13px; color: #fff; width:57px;font-weight:bold;margin-top:1px;}
    .bottom_contact_mob .bottom_con .in_wrap li .r_input {float:left; width:calc(100% - 57px); height:35px; border:0; background: 0; color: #ddd; font-size:13px;}
    

   


    .bottom_contact_mob .bottom_con .b_check {margin-bottom:15px;}
    .bottom_contact_mob .bottom_con .b_check span {font-size:13px;}
    
    .bottom_contact_mob .bottom_con .btn_list {margin-top:15px; width:100%;}
    .bottom_contact_mob .bottom_con .btn_list li {float:left;}
    .bottom_contact_mob .bottom_con .btn_list li img {width:45px; height: 45px;}
    
    .bottom_contact_mob .bottom_con .m_go_btn {height:45px; line-height:45px;}
    
    #visual .visual_text {top:45%;}
    #visual .visual_text > img {width:80px;}
    #visual .visual_text h2 {font-size:35px; color: #fff; font-weight: 300; margin-top: 20px; line-height: 1;}
    #visual .visual_text h2 img {display:block; width:200px; margin-top: 12px;}
    #visual .visual_text span {display:inline-block; font-size:16px; letter-spacing:4px; margin:20px 0 15px; padding-bottom: 0;}
    #visual .visual_text span::after {width:50px; height:2px;}
    #visual .visual_text p {font-size: 14px; line-height: 20px; margin-top: 0;}
    #visual small.small_tt {width:50px; height: 2px;}
    
    #visual .slide3_box img {margin: 0 auto;}
    #visual .slide3_box {display: block; margin: 10px auto !important; background:url(../images/main/bg3_boxbg_mo.png) no-repeat center / cover;}
    #visual .slide3_box {width: 180px; height: 76px;}
    #visual .slide3_box strong {font-size: 12px; margin: 5px; line-height: 15px;}
    #visual .slide3_box:nth-of-type(1) {padding: 10px 0 0 0;}
    #visual .slide3_box:nth-of-type(2) {padding: 10px 0 0 0;}
    #visual .slide3_box .slide_logo {display: block; width: 99px; height: 12px; background:url(../images/main/bg3_logo1.png) no-repeat center / cover; margin: 0 auto;}
    #visual .slide3_box:nth-of-type(2) .slide_logo {width:89px; height:12px; background:url(../images/main/bg3_logo2.png) no-repeat center / cover;}
    #visual .slide3_wrap {margin-top:0;}
    
    
    
    #section2 {padding: 60px 0;}
    #section2 .left {height:130px; background: #8f775b; position:relative;}
    #section2 .left img {display:block; height:105%; position:absolute; left:0; bottom:0;}
    #section2 .title_box {margin-bottom:35px; text-align: center;}
    #section2 .title_box span {font-size:13px; letter-spacing:3px; color: #ac9173; font-weight: bold;}
    #section2 .title_box h2 {font-size:28px; margin:10px 0 10px; color: #111;}
    #section2 .title_box p {font-size: 14px; line-height:20px;}
    #section2 .left .tit {padding-left: 40%; padding-top:32px;}
    #section2 .left .tit span {font-size:13px; line-height:18px; margin-bottom: 10px;}
    #section2 .left .tit h2 {font-size:22px; color: #fff; font-weight: 300; line-height: 1;}
    #section2 .left .tit h2 em {font-weight: bold;}
    
    #section2 .right {float:none; width:100%; height:auto; position:relative; margin-top:20px;}
    #section2 .right .r_wrap {position:static; left:0; top:auto; transform:none; min-height:auto;}
    #section2 .right .clfix {width:100%; }
    #section2 .right .clfix .tab_btn {float:none; width:auto; font-size: 0; margin-bottom: 15px; overflow:hidden;}
    #section2 .right .clfix .tab_btn li {float:left; width:50%; height:30px; line-height:30px; font-size:12px; margin-bottom: 0;}
    #section2 .right .clfix .tab_btn li a {color: #a38a6d; display:block; width:100%; height:100%;}
    #section2 .right .clfix .tab_btn li:last-child {margin-bottom: 0;}
    #section2 .right .clfix .tab_btn li.on {background: #a38a6d; font-weight: 500; position:relative;}
    #section2 .right .clfix .tab_btn li.on::after {content:none;}
    #section2 .right .clfix .tab_btn li.on a {color: #fff;}
    #section2 .right .clfix .tab_con {float:none; width:100%; padding-left:0;}
    #section2 .right .clfix .tab_con ul li {font-size:12px; line-height:20px; margin-bottom:0; padding-left:15px;}
    #section2 .right .clfix .tab_con ul li::before {content:''; width:6px; height:2px; background: #a69785; position:absolute; left:0; top:9px;}
    
    
    #section6 {padding:10px 0 60px;}
    #section6 .right {height:130px; position:relative;}
    #section6 .right img {display:block; height:105%; right:0; bottom:0;}
    #section6 .right .tit {padding-left: 20px; padding-top:32px;}
    #section6 .right .tit span {font-size:13px; line-height:18px; margin-bottom: 10px;}
    #section6 .right .tit h2 {font-size:22px; color: #fff; font-weight: 300; line-height: 1;}
    #section6 .right .tit h2 em {font-weight: bold;}
    
    #section6 .left {float:none; width:100%; height:auto; position:relative; margin-top:20px;}
    #section6 .left .r_wrap {position:static; left:0; top:auto; transform:none; min-height:auto;}
    #section6 .left .clfix {width:100%; }
    #section6 .left .clfix .tab_btn2 {float:none; width:auto; font-size: 0; margin-bottom: 15px; overflow:hidden;}
    #section6 .left .clfix .tab_btn2 li {float:left; width:50%; height:30px; line-height:30px; font-size:12px; margin-bottom: 0;}
    #section6 .left .clfix .tab_btn2 li a { display:block; width:100%; height:100%;}
    #section6 .left .clfix .tab_btn2 li:last-child {margin-bottom: 0;}
    #section6 .left .clfix .tab_btn2 li.on {font-weight: 500; position:relative;}
    #section6 .left .clfix .tab_btn2 li.on::after {content:none;}
    #section6 .left .clfix .tab_con2 {float:none; width:100%; padding-left:0;}
    #section6 .left .clfix .tab_con2 ul li {font-size:12px; line-height:20px; margin-bottom:0; padding-left:15px;}
    #section6 .left .clfix .tab_con2 ul li::before {content:''; width:6px; height:2px; position:absolute; left:0; top:9px;}
    
    
    #section5 {padding: 60px 0;}
    #section5 .slick_wrap {width:100%;}
    #section5 .slick_wrap .pro_list li {float:left; width:100%; margin-right:10px; height:0; padding-bottom:9%; overflow:auto;}
    #section5 .slick_wrap .pro_list li .pl_bg {height:80%;}
    #section5 .slick_wrap .pro_list li .lawyer_img {width:100%; height:auto; margin:0 auto;}
    #section5 .slick_wrap .pro_list li .txt_box {height:80px; padding:20px 5%;}
    #section5 .slick_wrap .pro_list li .txt_box p.name {font-size:14px;}
    #section5 .slick_wrap .pro_list li .txt_box p.name span {font-size:17px;}
    #section5 .slick_wrap .pro_list li .txt_box em {font-size: 12px; margin-top:5px; line-height: 17px;}
    #section5 .slick_wrap .pro_list li .txt_box .btn {right:20px; top:20px;}
    #section5 .slick_wrap .pro_list li .txt_box .btn img {width:18px; height:18px;}
    #section5 .slick-list {margin-right: -10px !important;}
    
    #section5 .title_box {margin-bottom:10px;}
    #section5 .title_box > span {font-size:13px; letter-spacing:3px;}
    #section5 .title_box h2 {font-size:28px; margin:10px 0 10px;}
    #section5 .title_box p {font-size: 14px; line-height:20px;}
    
    #section3 {padding: 60px 0;}
    #section3 .title_box {margin-bottom:25px;}
    #section3 .title_box span {font-size:13px; letter-spacing:3px;}
    #section3 .title_box h2 {font-size:28px; margin:10px 0 10px;}
    #section3 .title_box p {font-size: 14px; line-height:20px;}
    
    #section3 .sec3_slick_wrap {float:none; width:100%; padding-left: 0;}
    #section3 .sec3_slick_wrap .sec3_slick li img {float:none; width:100%;}
    #section3 .sec3_slick_wrap .slick_txt_wrap {width:100%; height:auto; margin-top:-70px;}
    #section3 .sec3_slick_wrap .slick_txt_wrap .slick_txt {padding:25px 20px;}
    #section3 .sec3_slick_wrap .slick_txt_wrap .slick_txt h3 {font-size:18px;}
    #section3 .sec3_slick_wrap .slick_txt_wrap .slick_txt p {margin-top:15px; padding-top:15px; font-size: 13px; line-height: 20px;}
    #section3 .sec3_slick_wrap .slick_txt_wrap .slick_txt p::before {content:''; width:20px; height:2px; background: rgba(255,255,255,.5); position:absolute; left:0; top:0;}
    #section3 .sec3_slick_wrap .slick_txt_wrap .slick_txt em {margin-top:20px; font-size:14px;}
    #section3 .sec3_slick_wrap .btns {display:none;}
    
    #section4 {padding: 60px 0;}
    #section4 .title_box {margin-bottom:20px;}
    #section4 .title_box span {font-size:13px;}
    #section4 .title_box h2 {font-size:28px; margin:10px 0 10px;}
    #section4 .title_box p {font-size: 14px; line-height: 20px;}
    #section4 .left img {width:90%;}
    #section4 .left .dot_wrap {width:14px; height:14px; left:63%; top:65.5%;}
    #section4 .left .dot2 {width:8px; height:8px;} 
    #section4 .right {width:90%; padding-top: 25px; margin-top: 25px;}
    #section4 .right ul {padding:0;}
    #section4 .right ul li {margin-bottom:15px; overflow:hidden;}
    #section4 .right ul li span {float:none; width:100%; font-size:20px; margin-bottom: 5px;}
    #section4 .right ul li p {float:none; width:100%; font-size: 13px; padding-left: 0;}
    

    
    
    /* === Sub === */
    .sub_visual {height:320px; padding-top:140px;}
    .sub_visual h2 {font-size:32px;}
    .sub_visual p {font-size:14px; line-height: 20px; margin-top:15px;}
    
    .sub_menu {height:48px;}
    .sub_menu h3 {width:30%; height:48px; line-height:48px; font-size:13px;}
    
    #sub_contents {margin:40px 0 70px;}
    .contop {margin-bottom:40px;}
    .contop h3 {font-size:25px;}
    .contop p {margin-top:15px; font-size: 13px;}
    
    h4.h4_tit {font-size:18px; padding-left:36px; margin:35px 0 25px; background-size:26px 18px;}
    
    /* sub0101 占싱쇽옙 占쏙옙 철占쏙옙 */
    .mission_img {height:220px;}
    .mission_img .inner::before {content:none;}
    .mission_img span {font-size:25px; padding-left:0; line-height:30px; padding-top:65px; letter-spacing: 3px;}
    .mission_img p {font-size:18px; padding-left:0; margin-top:15px;}
    .mission_wrap .text_box h5 {color: #111; font-size:15px; line-height:23px; margin:20px 0 10px; padding-left:0;}
    .mission_wrap .text_box p {font-size: 13px; line-height: 20px; padding-left:0;}
    
    .manage_wrap .m_img {overflow:hidden; background: url(/images/sub/manage_bg.png) no-repeat center 40%; background-size:100%; padding-bottom:0;}
    .manage_wrap .m_img .cen_img {display:none;}
    .manage_wrap .m_img .cen_img_mob {display:block; width:100%;}
    .manage_wrap .m_img .cen_img_mob img {width: 100%;}
    
    .manage_wrap .m_img .m_list {float:none; width:100%; padding-left: 0; margin-top:30px;}
    .manage_wrap .m_img .m_list li {margin-bottom: 15px; padding-bottom: 15px; border-bottom:1px dashed #ddd;}
    .manage_wrap .m_img .m_list li span {font-size:13px; margin-bottom: 5px;}
    .manage_wrap .m_img .m_list li h5 {font-size:16px; margin-bottom:5px;}
    .manage_wrap .m_img .m_list li p {font-size: 13px; line-height:20px;}
    .manage_wrap .m_img .m_list li:first-child {text-align:left; left:auto; top:auto;}
    .manage_wrap .m_img .m_list li:nth-child(2) {text-align:left; right:auto; top:auto;}
    .manage_wrap .m_img .m_list li:last-child {text-align:left; left:auto; transform:none; bottom:auto; margin-bottom: 0; border-bottom:0;}
    .manage_wrap .m_img .m_list li.show:last-child {transform: translate(0);}
    
    
    
    
    /* sub0102 占쏙옙占쏙옙占쏙옙占쌀곤옙 */
    .pro_top {height:220px; padding:50px 5%;}
    .pro_top span {font-size:13px; margin-bottom:15px;}
    .pro_top p {font-size:22px; line-height:32px;}
    
    .pro_list {margin-top:25px;}
    .pro_list .p_lawyer {height:200px; margin-top:15px; float:none; width:100%; margin-right: 0;}
    .pro_list .p_lawyer:nth-child(2n) {margin-right: 0;}
    .pro_list .p_lawyer:nth-child(-n+2) {margin-top:15px;}
    .pro_list .p_lawyer .list_bg {height:180px;}
    .pro_list .p_lawyer .list_bg2 {height:180px;}
    .pro_list .p_lawyer > img {height:100%; left:auto; right:-8%;}
    .pro_list .p_lawyer:nth-child(1) > img {left:auto; right:2%;}
    .pro_list .p_lawyer:nth-child(2) > img {left:auto; right:-2%;}
    .pro_list .p_lawyer:nth-child(4) > img {left:auto;}
    .pro_list .p_lawyer .txt {padding:70px 0 0 20px;}
    .pro_list .p_lawyer .txt em {font-size:13px; margin-bottom: 10px;}
    .pro_list .p_lawyer .txt p {font-size:24px;}
    
    .pro_list .p_lawyer .more_btn {height:40px; line-height:40px; font-size:12px; bottom:0;}
    .pro_list .p_lawyer .more_btn a img {margin-top:-2px; margin-left:5px;}
    
    .layer_pop_wrap .layer_pop .pop_con {width:90%; height:67%; top:49%; overflow-y:scroll;}
    .layer_pop_wrap .layer_pop .left {height:130px; background: #eee8e2 url(/images/sub/lawyer_pop_bg.png) no-repeat 80% top;}
    .layer_pop_wrap .layer_pop .left img {display:block; position:absolute; bottom:0; left:50%; transform:translateX(-50%); right:auto; height:95%;}
    .layer_pop_wrap .layer_pop .right {float:none; width:100%; padding:0 5%; margin-top:25px;}
    .layer_pop_wrap .layer_pop .right .title em {font-size:12px; margin-bottom:3px;}
    .layer_pop_wrap .layer_pop .right .title p {font-size:23px;}
    .layer_pop_wrap .layer_pop .right #tab_btn {margin:15px 0 20px;}
    .layer_pop_wrap .layer_pop .right #tab_btn li {width:50%; height:35px; line-height:35px; font-size:13px;}
    .layer_pop_wrap .layer_pop .right .career_list li {font-size:13px; line-height:22px; padding-left:18px; background: url(/images/sub/pop_dot.png) no-repeat left 4px; background-size:14px 14px;}
    .layer_pop_wrap .layer_pop .close_btn {position:absolute; right:10px; top:10px;}
    .layer_pop_wrap .layer_pop .close_btn img {width:20px;}
    
    
    /* sub0103 占쏙옙占쏙옙채占쏙옙 */
    .recruit_top {height:220px; padding:65px 8% 0 8%;}
    .recruit_top span {font-size:27px; letter-spacing:5px;}
    .recruit_top p {font-size:13px; line-height:20px; margin-top:15px;}
    
    /* .talent_list li {float:left; width:49%; margin-right:2%; overflow:hidden; margin-top:20px;}
    .talent_list li:nth-child(2n) {margin-right: 0;}
    .talent_list li:nth-child(-n+2) {margin-top: 0;}
    .talent_list li .img {float:none; width:100%;}
    .talent_list li .img img {width:100%;}
    .talent_list li .txt {float:none; width:100%; padding-left: 0; padding-top:15px;}
    .talent_list li .txt em {font-size:12px; margin-bottom:5px;}
    .talent_list li .txt span {font-size:15px; line-height: 20px; margin-bottom:10px;}
    .talent_list li .txt p {font-size:13px; line-height:20px;} */

    
    
    
    
    .work_wrap {margin-top:35px; padding:35px 0;}
    .work_wrap .inner > p {font-size: 15px; line-height: 25px;}
    .work_wrap .work_list {margin-top:20px;}
    .work_wrap .work_list .work {float:none; width:100%; height:auto; margin-right: 0; padding:25px; margin-bottom: 15px;}
    .work_wrap .work_list .work:last-child {margin-bottom: 0;}
    .work_wrap .work_list .work h5 {font-size:15px; padding-bottom:15px; margin-bottom:15px;}
    .work_wrap .work_list .work > img {position:absolute; right:25px; top:15px; width:30px;}
    .work_wrap .work_list .work:nth-child(2) > img {width:25px;}
    
    .bullet li {font-size:13px; line-height:20px; padding-left:10px;}
    .bullet li::before {top:7px;}
    
    .work_wrap .work_list .work .bullet {overflow:hidden;}
    .work_wrap .work_list .work .bullet li {float:none; width:100%; margin-right: 0; margin-top: 0;}
    
    .rec_list li .r_mail {margin-top: 5px; font-size:14px; background-size:20px}
    .rec_list li .r_mail a {padding-left:27px;}
    
    
    /* sub0501 占쏙옙占시는깍옙 */
    .contact_wrap #tab_btn {margin-bottom:30px;}
    .contact_wrap #tab_btn li {font-size: 13px; width:130px; height:38px; line-height:38px;}
    
    .contact_wrap iframe {height:300px;}
    .contact_wrap .clfix {margin-top:25px;}
    .contact_wrap .clfix .tab_con .ad_list > li {margin-bottom:15px;}
    .contact_wrap .clfix .tab_con .ad_list > li em {font-size:18px; margin-bottom: 5px; padding-left: 23px; background: url(/images/sub/pop_dot.png) no-repeat left center;}
    .contact_wrap .clfix .tab_con .ad_list > li .t_list li {margin-bottom:10px;}
    .contact_wrap .clfix .tab_con .ad_list > li .t_list li span {width:50px; height:28px; line-height:28px; margin-right:15px; font-size: 12px;}
    
    .contact_wrap #map {
        height: 300px !important;
    }
    
    
    
    
    
    }

